# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Django
db.sqlite3

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Static collected files
staticfiles/

# Media uploads
media/

.env